HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/ollama/
/opensearch/data/nodes/0/_state/_j.fdm
/opensearch/data/nodes/0/_state/_j.fdt
/opensearch/data/nodes/0/_state/_j.fdx
/opensearch/data/nodes/0/_state/_j.fnm
/opensearch/data/nodes/0/_state/_j.si
/opensearch/data/nodes/0/_state/_j_Lucene101_0.doc
/opensearch/data/nodes/0/_state/_j_Lucene101_0.psm
/opensearch/data/nodes/0/_state/_j_Lucene101_0.tim
/opensearch/data/nodes/0/_state/_j_Lucene101_0.tip
/opensearch/data/nodes/0/_state/_j_Lucene101_0.tmd
/opensearch/data/nodes/0/_state/_o.cfe
/opensearch/data/nodes/0/_state/_o.cfs
/opensearch/data/nodes/0/_state/_o.si
/opensearch/data/nodes/0/_state/manifest-1.st
/opensearch/data/nodes/0/_state/node-1.st
/opensearch/data/nodes/0/_state/segments_p
/opensearch/data/nodes/0/_state/write.lock
/opensearch/data/nodes/0/indices/jCvuYFetTmCm5KE7myLuog/0/_state/retention-leases-2.st
/opensearch/data/nodes/0/indices/jCvuYFetTmCm5KE7myLuog/0/_state/state-1.st
/opensearch/data/nodes/0/indices/jCvuYFetTmCm5KE7myLuog/0/index/_0.cfe
/opensearch/data/nodes/0/indices/jCvuYFetTmCm5KE7myLuog/0/index/_0.cfs
/opensearch/data/nodes/0/indices/jCvuYFetTmCm5KE7myLuog/0/index/_0.si
/opensearch/data/nodes/0/indices/jCvuYFetTmCm5KE7myLuog/0/index/segments_3
/opensearch/data/nodes/0/indices/jCvuYFetTmCm5KE7myLuog/0/index/write.lock
/opensearch/data/nodes/0/indices/jCvuYFetTmCm5KE7myLuog/0/translog/translog.ckp
/opensearch/data/nodes/0/indices/jCvuYFetTmCm5KE7myLuog/0/translog/translog-4.tlog
/opensearch/data/nodes/0/indices/jCvuYFetTmCm5KE7myLuog/_state/state-3.st
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/_state/retention-leases-2.st
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/_state/state-1.st
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_0.cfe
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_0.cfs
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_0.si
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_1.cfe
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_1.cfs
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_1.si
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_4.cfe
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_4.cfs
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_4.si
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_4_1.fnm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_4_1_Lucene90_0.dvd
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_4_1_Lucene90_0.dvm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5.fdm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5.fdt
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5.fdx
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5.fnm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5.kdd
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5.kdi
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5.kdm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5.nvd
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5.nvm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5.si
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5_2.fnm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5_2_Lucene90_0.dvd
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5_2_Lucene90_0.dvm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5_Lucene90_0.dvd
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5_Lucene90_0.dvm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5_Lucene101_0.doc
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5_Lucene101_0.pos
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5_Lucene101_0.psm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5_Lucene101_0.tim
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5_Lucene101_0.tip
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_5_Lucene101_0.tmd
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_6.cfe
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_6.cfs
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_6.si
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_6_1.fnm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_6_1_Lucene90_0.dvd
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_6_1_Lucene90_0.dvm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_7.cfe
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_7.cfs
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_7.si
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_7_1.fnm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_7_1_Lucene90_0.dvd
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/_7_1_Lucene90_0.dvm
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/segments_3
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/index/write.lock
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/translog/translog.ckp
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/0/translog/translog-4.tlog
/opensearch/data/nodes/0/indices/kTIq_rLARFWpWX3TqOY4Xw/_state/state-5.st
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/_state/retention-leases-1.st
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/_state/state-0.st
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_0.cfe
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_0.cfs
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_0.si
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_0_1.fnm
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_0_1_Lucene90_0.dvd
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_0_1_Lucene90_0.dvm
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_1.cfe
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_1.cfs
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_1.si
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_2.cfe
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_2.cfs
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_2.si
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_2_1.fnm
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_2_1_Lucene90_0.dvd
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/_2_1_Lucene90_0.dvm
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/segments_2
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/index/write.lock
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/translog/translog.ckp
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/0/translog/translog-2.tlog
/opensearch/data/nodes/0/indices/kwTzO7EGSTSvfO8sgmw_cQ/_state/state-4.st
/opensearch/data/nodes/0/node.lock
/opensearch/data/batch_metrics_enabled.conf
/opensearch/data/logging_enabled.conf
/opensearch/data/performance_analyzer_enabled.conf
/opensearch/data/rca_enabled.conf
/opensearch/data/thread_contention_monitoring_enabled.conf
